@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;   
font-family: 'Poppins', sans-serif;
}
header{
position:fixed;
top:0;
left:0;
width:100%;
padding:20px 100px;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 99;
}
body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: url(casa-kame-de-dragon-ball_1920x1080_xtrafondos.com.jpg) no-repeat;
background-size: cover;
background-position: center;
}
.logo{
font-size: 2em;
color: #fff;
user-select: none;
}
.navegacion a{
position:relative;
font-size: 1.1em;
color:#fff;
text-decoration: none;
font-weight: 500;
margin-left: 40px;
}
.navegacion a:after{
content: '';
position: absolute;
left:0;
bottom:-6px;
width: 100%;
height:3px;
background: #fff;
border-radius: 5px;
transform-origin: right;
transform: scaleX(0);
transition: transform .5s;
}
.navegacion a:hover::after{
transform-origin:left;
transform: scaleX(1);
}
.navegacion .botonregistro{
width:130px;
height: 50px;
background: transparent;
border:2px solid #fff;
outline: none;
border-radius:6px;
cursor:pointer;
font-size: 1.1em;
color:#fff;
font-weight: 500;
margin-left: 40px;
transition: .5s;
}
.navegacion .botonregistro:hover{
background: #fff;
color: #162938;
}
.envoltorio{
position:relative;
width: 400px;
height:440px;
background: transparent;
border: 2px solid rgba(255, 255, 255, .5);
border-radius: 20px;
backdrop-filter:blur(20px);
box-shadow: 0 0 30px rgba(0, 0, 0, .5);
display:flex;
justify-content: center;
align-items: center;
overflow: hidden;
transform: scale(0);
transition: transform .5s ease, height .2s ease;
}
.envoltorio.active-popup{
transform: scale(1);
}
.envoltorio.active{
height: 520px;
}
.envoltorio .formulario{
width: 100%;
padding: 40px;
}
.envoltorio .formulario.iniciosesion{
transition:transform .18s ease;
transform: translateX(0);
}
.envoltorio.active .formulario.iniciosesion{
transition:none;
transform: translateX(-400px);
}
.envoltorio .formulario.registrarse{
position: absolute;
transition: none;
transform: translateX(400px);
}
.envoltorio.active .formulario.registrarse{
transition:transform .18s ease;
transform: translateX(0);
}
.envoltorio .simbolo-cierre{
position: absolute;
top: 0;
right: 0;
width: 45px;
height: 45px;
background: #162938;
font-size: 2em;
color: #fff;
display: flex;
justify-content: center;
align-items: center;
border-bottom-left-radius: 20px;
cursor: pointer;
z-index: 1;
}
.formulario h2{
font-size: 2em;
color: #162938;
text-align: center;
}
.caja-entrada{
position: relative;
width: 100%;
height: 50px;
border-bottom: 2px solid #162938;
margin: 30px 0;
}
.caja-entrada label{
position:absolute;
top:50%;
left:5px;
transform: translateY(-50%);
font-size: 1em;
color: #162938;
font-weight: 500;
pointer-events: none;
transition: .5s;
}
.caja-entrada input:focus~label,
.caja-entrada input:valid~label{
    top:-5px;
}
.caja-entrada input{
width: 100%;
height: 100%;
background: transparent;
border: none;
outline: none;
font-size: 1em;
color:#162938;
font-weight: 600;
padding: 0 35px 0 5px;
}
.caja-entrada .simbolo{
position: absolute;
right: 8px;
font-size: 1.2em;
color: #162938;
line-height: 57px;
}
.recordar-olvidar{
font-size: .9em;
color: #162938;
font-weight: 500;
margin: -15px 0 15px;
display: flex;
}
.recordar-olvidar label input{
accent-color:#162938;
margin-right: 3px;
}
.recordar-olvidar a{
color: #162938;
text-decoration: none;
}
.recordar-olvidar a:hover{
text-decoration: underline;
}
.btn{
width:100%;
height: 45px;
background: #162938;
border: none;
outline: none;
border-radius: 6px;
cursor:pointer;
font-size: 1em;
color:#fff;
font-weight: 500;
}
.iniciosesion-registrarse{
font-size: .9em;
color: #162938;
text-align: center;
font-weight: 500;
}
.iniciosesion-registrarse p a {
color: #162938;
text-decoration: none;
font-weight: 600;
}
.iniciosesion-registrarse p a:hover {
text-decoration: underline;
}